.about-carousel{
	margin-top: 40px;
	margin-bottom: 80px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
}
.carousel-bestMovies__title{
	margin-bottom: 30px;
}

